/*variables*/
:root{
 --blue: #508AA8;
 --dark: #031927;
 }

/*reset*/
body,p,a,ul,li
      {margin: 5%;
      padding: 0;
      text-decoration: none;}

li
      {list-style-type: none;}

/*base styles*/
body
      {overflow-x: hidden;
overflow-y: auto;
background-color: white;

      }

/*fonts*/
       @font-face{font-family: 'montserrat', sans-serif;
       src: url('assets/fonts/montserrat-bold.ttf');
       font-family: 'kanit'
       src: url('assets/fonts/kanit-blackitalic.ttf')

h1
      {font-family: kanit;
            color: #000033;	
      overflow: auto;
      margin-bottom: 0;
      line-height:110%;
      font-size:xx-large;
      }
h2
	{color: #000033;
      font-family: montserrat-light;
      font-weight: light;
      font-size: small;}
h3
      {color: #000033;
      font-family: montserrat-light;
      font-weight:  light;
      font-size: large;}
h4    
      {color: #000033;
      font-family: montserrat-bold;}
h5
      {color: #000033;
      font-family: montserrat-bold;}
h6
      {color: #000033;
      font-family: montserrat-bold;}
p
      {font-family: montserrat-light;
            font-size: x-small;}
      .textik{margin-right: 0;n}

/*mobile styles*/
 @media screen and (min-width: 0px)
 {
 h1
	{
            font-size: 11vw;
            font-weight: extra-bold;
            font-style: italic;
            z-index: 1;
        }
  h2
      {
            font-size: 6vw;
            font-weight: bold;
        }
h3 { font-size: 6vw;
            font-weight: bold;
            margin-bottom: -30px; }

h4 {
            font-size: 6vw;
            line-height: auto;
           margin-bottom: 0;
        }
 h5{

      font-size: 5vw;
            margin-left: 0;
            line-height: auto;
            margin-bottom: 10px;

 }
 p {
      margin-left: 0;
      font-size: 5vw;
      line-height: auto;
      margin-bottom: 10px;
 }


 
 
 .artwork img{
      width: 55%;
      heiht: auto;
      y: -30;
      object-position: 10px -40px;
      margin-top: -20px;}
 .me img{
      width: 35%;
      height: auto;
      float: right;
      margin-right: 20px;
      margin-top: -180px;
      z-index: -10;

 }}
