/*variables*/
:root{
 --blue: #508AA8;
 --dark: #031927;
 }

/*reset*/
body,p,a,ul,li
      {margin: 10;
      padding: 0;
      text-decoration: none;}

li
      {list-style-type: none;}

/*base styles*/
body
      {overflow-x: hidden;
overflow-y: auto;

      }

/*fonts*/
       @font-face{font-family: 'montserrat bold'
       src: url('assets/fonts/montserrat-bold.ttf')
       font-family:  'montserrat light'
       src: url('assets/fonts/montserrat-light.ttf');
       font-family: 'kanit'
       src: url('assets/fonts/kanit-blackitalic.ttf')
       font-family: 'roboto'
       src: url('assets/fonts/roboto-light.ttf')}

h1
      {font-family: kanit;
            color: #000033;	
      overflow: auto;
      margin-bottom: 0;
      line-height:110%;
      }
h2
	{color: #000033;
      font-family: montserrat-bold;
      font-weight: bold}
h3
      {color: #000033;
      font-family: montserrat-light}
h4    
      {color: #000033;
      font-family: montserrat-bold;}
h5
      {color: #000033;
      font-family: montserrat-bold;}
h6
      {color: #000033;
      font-family: montserrat-bold;}
p
      {font-family: montserrat-light;}

/*mobile styles*/
 @media screen and (min-width: 310px)
 {
 h1
	{font-size: 100px;}
 
 }
 .artwork img{
      width: 450px;
      heiht: 425px;
      y: -50px;
      object-position: 10px -40px;
      margin-top: -50px;

 }
 .me img{
      width: 180px;
      height: 545px;
      float: right;
      margin-right: 20px;

 }

/*small tablet styles*/
 @media screen and (min-width: 620px){
 h1
	{font-size: 125px;}
 }
 
/*laptops*/
 @media screen and (min-width: 960px){
 h1
	{font-size: 125px;}
 }
 
/*desctop styles*/
 @media screen and (min-width: 1200px){
 h1
	{font-size: 125px;}
 }
