* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
body {
  font-family: DM Sans;
  font-size: 12px;
  width: 100%;
  min-height: 100vh;
  margin: 2%;
  margin-top: 1.5%;
  background: url(i.png) no-repeat;
  background-size: 100%; 
}
/*text styles*/
h1{
  font-family: BioRhyme;
  font-weight: black;
  font-size: 64px;
  margin-bottom: 25px;
  margin-left: 1%;
}
h2{
  font-size: 24px;
  font-weight: 400;
}
ul{
  font-size: 24px;
  margin-left: 7%;
}
a 
  {color: #FF0000;
  margin-left: 0}
.red{
  color: #ff0000;
}

/*mobile*/
@media screen  and (min-width: 200px){
body {
  display: block;
    width: 75%;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 18px;
}
p,a{font-size: 18px;}

}
/*tablet*/
@media screen and (min-width: 450px){
.wrapper {
  display: grid;
  grid-template-columns: 45%;
}
h1{
  font-size: 50px;
  line-height: 60px;
}
h2,{
  font-size: 18px;
}
h3{
  font-size: 18px;
}
p, a {
  font-size: 18px;}
}
/*desktop*/
@media screen and (min-width: 1000px){
.wrapper {
  margin-left: 1%;
}
h1{
  font-size: 70px;
  line-height: 70px;
}
h2,a{
  font-size: 24px;
}
h3{
  font-size: 24px;
}
p{
  font-size: 24px;
}
}