* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  font-family: montserrat;
  font-size: 12px;
  width: 100%;
  min-height: 100vh;
  margin-top: 4%;
  background: radial-gradient(at 0% 30%, aquamarine 10px, floralwhite 40%);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}
/*fonts*/
       @font-face{
        font-family: 'montserrat'
        src: url('assets/fonts/montserrat-black.ttf')}
h1{
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  margin-top: -10px;
  margin-bottom: 25px;
  overflow: visible;
}
h2{
  font-weight: bold;
  font-size: 25px;
}
h3{
  font-weight: bold;
  font-size: 17px;
}
p{
  font-size: 16px;
  color: #3D9D86
}
a 
  {color: #3D9D86;
  margin-left: 0}
.wtf {
      margin-top: 5px;
}
.topic{
  font-weight: bold;
  color: #1C483E;
}
/*desktop style*/
@media screen and (min-width: 1200px){
.wrapper {
  display: grid;
  grid-template-columns: 28% 60%;
  grid-template-rows: auto;
  gap: 10px;
  margin-left: 5%;
}
.edu, .ach, .exp {
  grid-column: all;
  display: grid;
  grid-template-columns: 26% 60%;
  grid-template-areas: 
  "group text"
  "group text"
  "group text"
}

.group, .text{
  margin-left: 50px;
}
.ach, .exp, .edu{
  margin-bottom: 50px;}
}


@media screen and (max-width: 900px){
.wrapper {
  display: block
}
.edu, .ach, .exp {
  grid-column: all;
  display: block
}
.group, .text{
  margin-left: 50px;
}
.ach, .exp, .edu{
  margin-bottom: 50px;}
}
/*tablet and laptop*/
@media screen and (min-width: 900px){ 
.wrapper {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: auto;
  gap: 10px;
  margin-left: 5%;
}
.edu, .ach, .exp {
  grid-column: all;
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-areas: 
  "group text"
  "group text"
  "group text";
  margin-right: 10%;
}

.group, .text{
  margin-left: 50px;
}
.ach, .exp, .edu{
  margin-bottom: 50px;}
}

}
